.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(238, 210, 222, 0.05);
  overflow: hidden;
  max-height: 100vw;
  background-color: rgba(0, 0, 152, 0.035);
  height: 100vh;
}

nav {
  background-color: blueviolet;
  padding: 15px;
  width: 100vw;
}

nav * {
  margin: 0 40px;
  text-decoration: none;
  color: white;
}

#webcam,
video {
  height: 400px;
  width: 600px;
}

canvas {
  max-width: 600px;
  height: 400px;
}

.letters {
  display: flex;
}

#canvas {
  border: solid black 1px;
}

.keyboard-container {
  display: flex;
  width: 80vw;
}

.keyboard {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.keyboard-row {
  display: flex;
  margin: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.keyboard-row * {
  margin: 0 20px;
}

.pad {
  border: solid black 1px;
  height: 2vw;
}

.keyboard-container video {
  width: 0;
  height: 0;
  position: absolute;
  top: -350px;
  z-index: -1;
}

.char {
  border: solid gray 1px;
  padding: 10px;
  width: 3vw;
  height: 3vw;
  margin: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.01);
}

.pad {
  margin: 0 20px;
  min-height: 20vw;
  min-width: 20vw;
  max-width: 37.5vw;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  font-size: large;
  height: 32.5vw;
  border-radius: 5px;
  border: gray solid 0.5px;
  width: 40vw;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

button {
  margin: 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: rgb(245, 94, 94);
}

